################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrimewiseReporting/.vs/PrimewiseReporting/FileContentIndex/5bceb7a1-844b-4359-824a-bf52a6b5cb9d.vsidx
/PrimewiseReporting/.vs/PrimewiseReporting/FileContentIndex/f51f490e-3fa9-459a-94a5-61ff93e74c55.vsidx
